<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>Teacher2:</strong>
  <%= @course.teacher2 %>
</p>

<p>
  <strong>Teacher3:</strong>
  <%= @course.teacher3 %>
</p>

<p>
  <strong>University:</strong>
  <%= @course.university %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
